x509: RSA key missing NULL parameters

I have a PKCS 12 file including:
- one certificate
- one private key

![Screenshot 2021-03-01 at 17 56 13](https://user-images.githubusercontent.com/68189985/109530861-8130e080-7ab7-11eb-9e4b-a179f94d8f62.png)

What I simply do is:
1. Read my p12 file
2. Decode the p12 file

```go
certFile, err := ioutil.ReadFile("authentication.p12")
privateKey, cert, err := pkcs12.Decode(certFile, "my_password")
```

The error returned from pkcs12 library is the following:
`x509: RSA key missing NULL parameters`

Is the problem related to the standard used by this library implementation?

Your certificate is not correctly encoded.  Per [RFC 3279 Section 2.3.1](https://tools.ietf.org/html/rfc3279#section-2.3.1), RSA public keys are required to have a NULL parameter value.  It would appear from this error message that the public key in your certificate is not compliant.  You should report this as a bug with the software which produced this certificate.